[project]
	description = This project is will help developer to dynamic create/modify class at runtime simply, and it's base on ASM framework. but it's different to ASM, it's make developer don't care about LocalVariables and Stack status at JVM layer, and also don't care the underlying instructions of JVM.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wensiqun
[access "refs/for/refs/*"]
	read = group user/wensiqun
	push = group user/wensiqun
	label-Code-Review = -2..+2 group user/wensiqun
	label-Verified = -1..+1 group user/wensiqun
	rebase = group user/wensiqun
	removeReviewer = group user/wensiqun
	submit = group user/wensiqun
[access "refs/heads/*"]
	read = group user/wensiqun
	create = group user/wensiqun
	push = +force group user/wensiqun
	pushMerge = group user/wensiqun
[access "refs/tags/*"]
	push = +force group user/wensiqun
	pushTag = group user/wensiqun
	pushSignedTag = group user/wensiqun
